{% extends 'app.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumb %} {{ wo_render_breadcrumbs({separator: '/', listId: 'breadcrumbs'}) }} {% endblock %}

{% block body %}
    <div id="groupTile">
        <div id="tile">
            <p>test</p>
        </div>
        <div id="tile1">
            <p>test</p>
        </div>
        <div id="tile2">
            <p>test</p>
        </div>
        <div id="tile3">
            <p>test</p>
        </div>
    </div>
    <div id="corpus" class="col-9">
        <h2>Title</h2>
        <div id="groupPicto">
            <div id="picto">
                <p><i class="fas fa-chart-pie"></i></p>
            </div>
            <div>
                <b>Titre de la picto</b>
                <p>sous-titre</p>
            </div>
            <div id="picto1">
                <p><i class="fas fa-balance-scale-left"></i></p>
            </div>
            <div>
                <b>Titre de la picto</b>
                <p>sous-titre</p>
            </div>
            <div id="picto2">
                <p><i class="fas fa-pen-fancy"></i></p>
            </div>
            <div>
                <b>Titre de la picto</b>
                <p>sous-titre</p>
            </div>
            <div id="picto3">
                <p><i class="fas fa-book"></i></p>
            </div>
            <div>
                <b>Titre de la picto</b>
                <p>sous-titre</p>
            </div>
        </div>
    </div>
{% endblock %}