<div id="modalHelpers" class="modal fade bd-dark" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div id='modal' class="modal-content">
            <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicateurs -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
{#                    <li data-target="#demo" data-slide-to="2"></li>#}
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h2>
                            Search Engine
                        </h2>
                        <p>
                            To display the search engine, please press "CTRL" + "SHIFT".
                        </p>
                        <p>
                            Once it's open you can make a research based on users names, users surnames, users emails,
                            products names, categories names
                        </p>
                        <p>
                            Users will only see the information related to there account.
                        </p>
                    </div>
                    <div class="carousel-item">
                        <h2>
                            Search Bar
                        </h2>
                        <p>
                            In every tab, you will find a search bar.
                        </p>
                        <p>
                            This search bar could only find an entity if this one is based on the tab's entity (example: product, category, loan...)
                        </p>
                    </div>
{#                    <div class="carousel-item">#}
{#                        <h2>#}
{#                            Titre Silder 3#}
{#                        </h2>#}
{#                        <p>#}
{#                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec massa viverra,#}
{#                            tincidunt odio eget, gravida odio. Suspendisse quis dictum nisl, non mollis ligula.#}
{#                            Etiam mi dui, porttitor sit amet leo at, aliquet rhoncus mauris. Pellentesque#}
{#                            aliquet ultrices erat a molestie. Pellentesque id mauris eu ante condimentum auctor#}
{#                            non eu mauris. Ut semper elit sed elit lacinia lobortis. Ut et arcu efficitur,#}
{#                            posuere eros sit amet, volutpat metus.#}

{#                            ornare. Donec semper velit leo, in dictum tortor tempus nec. Donec dictum placerat#}
{#                            lacus, at ullamcorper lacus faucibus ac.#}
{#                        </p>#}
{#                    </div>#}
                </div>
                <!-- Contrôles -->
                <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
    </div>
</div>