<div id="modalSearch" class="modal fade bd-dark" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div id='modal' class="modal-content">
            <input type="text" id="searchInput" class="form-control search" placeholder="Searching for...">
            <div id="searchResult" class="hidden">
                <h3 id="userTitle" class="hidden">User</h3>
                <ul id="user">

                </ul>
                <h3 id="productTitle" class="hidden">Product</h3>
                <ul id="product">

                </ul>
                <h3 id="categoryTitle" class="hidden">Category</h3>
                <ul id="category">

                </ul>
            </div>
        </div>
    </div>
</div>