<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Stuff - {% block title %}Welcome!{% endblock %} -</title>
        {% block stylesheets %}{% endblock %}
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="#">My Stuff</a></li>
            <li><a href="#">Loaned Stuff</a></li>
            <li><a href="#">My Loan</a></li>
            <li><a href="#">My Account</a></li>
        </ul>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
