<form method="post" action="{{ path('myloanedstuffs_return', {'id': loan.id}) }}" onsubmit="return confirm('Are you sure you want to put as returned this loan?');">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="_token" value="{{ csrf_token('return' ~ loan.id) }}">
    <button class="btn">Return</button>
</form>
