{% extends 'app.html.twig' %}

{% block title %}Edit Loan{% endblock %}

{% block breadcrumb %} {{ wo_render_breadcrumbs({separator: '/', listId: 'breadcrumbs'}) }} {% endblock %}

{% block body %}
    <div id="corpus" class="col-9">
        <h1>Edit Loan</h1>

        <div class="btn-group" id="edit">
            <a class="btn" href="{{ path('myloanedstuffs_index') }}">back to list</a>
            {{ include('myLoanedStuffs/_delete_form.html.twig') }}
        </div>

        {{ include('myLoanedStuffs/_form.html.twig', {'button_label': 'Update'}) }}


    </div>
{% endblock %}
