{% extends 'app.html.twig' %}

{% block title %}New Loan{% endblock %}

{% block breadcrumb %} {{ wo_render_breadcrumbs({separator: '/', listId: 'breadcrumbs'}) }} {% endblock %}

{% block body %}
    <div id="corpus" class="col-9">
        <h1>Create new loan</h1>

        {{ include('myLoanedStuffs/_form.html.twig') }}

        <a href="{{ path('myloanedstuffs_index') }}">back to list</a>
    </div>
{% endblock %}
