$violet: rgb(236, 232, 255);
$violetTable: rgba(122, 98, 208, 0.2);
$violet2: #7a62d0;
$mauve: #897dbb;
$background: #f7f9fb;
$border: #ebebeb;
$a: #9e9da3;
$smoothMorning: linear-gradient(330deg, #ff5f6d, #ffc371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$Quepal: linear-gradient(330deg, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$comicFusion: linear-gradient(150deg, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$Neuromancer: linear-gradient(150deg, #f953c6, #b91d73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


* {
  font-family: 'Montserrat', sans-serif;
}

html {

  h1 {
    color: $violet2;
  }

  .table-index {
    max-width: 100%;
    margin-top: 50px;

    tbody tr:hover {
      color: $violet2 !important;
      background-color: #eaeaea;
    }

    thead {
      background-color: $violet2;
      color: white;
    }

    th {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
      border: none;
    }

    td {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
    }

    //tr:nth-of-type(even) {
    //  background-color: #f3f3f3;
    //}

  }

  .table-show {
    max-width: 100%;

    ul {
      li {
        display: inline-block;
        margin-right: 10px;
        background: $smoothMorning;
        padding: 10px 10px 10px 10px;
        margin-top: 10px;
        color: white;
      }

    }

    li:nth-of-type(2n) {
      background: $Neuromancer;
    }

    li:nth-of-type(3n) {
      background: $comicFusion;
    }

    li:nth-of-type(4n) {
      background: $Quepal;
    }


    th {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
      color: $a;
    }

    td {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
    }

    tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

  }

  #loginDiv {
    width: 50%;
    background-color: white;
    padding: 50px 100px 50px 100px;
    border-radius: 5px;
    margin-top: 7%;
    margin-left: 25%;
    border: solid 2px $border;
    color: $a;

    h1 {
      text-align: center;
    }

    .admin {
      width: 150px;
      border: solid 2px $border;
    }

    .user {
      width: 150px;
      border: solid 2px $border;
    }

    .submit {
      margin-top: 25px;
    }
  }

  h2 {
    font-size: 40px;
    color: #616163;
    margin-bottom: 2%;
    font-weight: bold;
  }

  body {
    background-color: $background;
  }

  #groupTile {
    display: flex;

    #tile {
      margin-top: 15%;
      margin-bottom: - 13%;
      margin-left: 4.5%;
      margin-right: 1%;
      min-width: 275px;
      height: 150px;
      background: $smoothMorning;
      border-radius: 1px;
      box-shadow: -1px 2px 4px -1px rgba(0, 0, 0, 0.40);


      &1 {
        @extend #tile;
        background: $Quepal;
      }

      &2 {
        @extend #tile;
        background: $comicFusion;
      }

      &3 {
        @extend #tile;
        background: $Neuromancer;
      }

      p {
        color: white;
        padding-left: 10px;
        padding-top: 10px;
      }
    }
  }

  #groupPicto {
    display: flex;

    #picto {
      display: inline-block;
      margin: 0 auto;
      width: 50px;
      height: 50px;
      background: $smoothMorning;
      border-radius: 15px;
      transform: rotate(45deg);

      &1 {
        @extend #picto;
        background: $Quepal;
      }

      &2 {
        @extend #picto;
        background: $comicFusion;
      }

      &3 {
        @extend #picto;
        background: $Neuromancer;
      }

      p {
        transform: rotate(-45deg);
        color: white;
        padding-left: 8px;
        padding-top: 3px;
        font-size: 30px;
      }
    }
  }

  #corpus {
    width: 100%;
    background-color: white;
    padding: 50px 100px 50px 100px;
    border-radius: 5px;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 5%;
    border: solid 2px $border;
    color: $a;

    input {
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 0px;

      &:focus {
        box-shadow: none;
        border-bottom: solid 1px $violet2;;
      }
    }

    select {
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 0px;

      &:focus {
        box-shadow: none;
        border-bottom: solid 1px $violet2;;
      }
    }
  }

  #topbar {
    display: flex;
    //flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: white;
    padding-left: 20%;
    z-index: 2;
    border-bottom: solid 2px $border;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0 auto;

    .input-group {
      width: 60%;
      margin-right: 10%;
      margin-left: 10%;

      input {
        background-color: $background;
        border: solid 2px $border;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-right: none;

        &:focus {
          box-shadow: none;
        }
      }

      #button-search {
        background-color: $background;
        border: solid 2px $border;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        border-left: none;

        &:hover {
          color: black;
          transition-duration: 0.5s;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }

    .dropdown {
      padding-top: 5px;

      a {
        text-decoration: none;
        color: $a;
        font-weight: bold;
      }

      .dropdown-menu {
        width: 250px;
        height: 100px;
        border: none;
        box-shadow: -1px 2px 4px -1px rgba(0, 0, 0, 0.40);

        li {
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: solid 2px $border;
          padding-left: 30px;
          transition-duration: 0.2s;

          &:hover {
            border-left: solid 5px $violet2;
            transition-duration: 0.2s;
            background-color: $background;
          }
        }
      }
    }

    .dropdown-menu {
      z-index: 1 !important;
    }
  }

  #ariane {
    top: 66px;
    position: fixed;
    width: 100%;
    background-color: $violet;
    padding-left: 20%;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 10px;
    color: $mauve;
    opacity: 0.9;
    display: flex;

    #breadcrumbs {
      margin: 0 auto;
      margin-left: 70%;

      a {
        text-decoration: none;
        color: $mauve;
        font-weight: bold;
      }
    }

  }

  #navbar {
    z-index: 3;
    position: fixed;
    width: 15%;
    height: 100%;
    list-style-type: none;
    background: white;
    padding-left: 0;
    margin-bottom: 0;
    top: 0;
    left: 0;
    border: solid 2px $border;

    #firstChild {
      padding-top: 35px;
      padding-bottom: 35px;
      border-bottom: solid 1px $border;
      text-align: center;
      text-decoration: none;
      color: $a;

      &:hover {
        border-left: none;
        background-color: white;
      }
    }

    li {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: solid 1px $border;
      transition-duration: 0.2s;

      &:hover {
        border-left: solid 5px $violet2;
        background-color: $background;
        transition-duration: 0.2s;
      }

      a {
        padding-left: 30px;
        text-decoration: none;
        color: $a;
      }
    }

  }

}

