//Vars
$violet: rgb(206, 202, 225);
$violetTable: rgba(122, 98, 208, 0.2);
$violet2: #7a62d0;
$mauve: #897dbb;
$background: #f7f9fb;
$backgroundDark: #1e1e2d;
$hoverdark: #1a1a27;
$border: #ebebeb;
$a: #9e9da3;
$smoothMorning: linear-gradient(
                330deg,
                #ff5f6d,
                #ffc371
);
$Quepal: linear-gradient(
                330deg,
                #11998e,
                #38ef7d
);
$comicFusion: linear-gradient(
                150deg,
                #ff00cc,
                #333399
);
$Neuromancer: linear-gradient(
                150deg,
                #f953c6,
                #b91d73
);

//Import
@import "card";
@import "select";
@import "modalSearch";
@import "modalHelpers";
@import "btn";
@import "table";
@import "navigation";
@import "navbar";
@import "breadcrumb";
@import "heading";
@import "topbar";
@import "corpus";
@import "return-to-top";
@import "dashboard";
@import "login";
@import "div";

* {
  font-family: "Montserrat", sans-serif;
}

html {
  .modal-dialog {
    margin-top: 15%;
  }

  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .hidden {
    transition-duration: 0.5s;
    display: none;
  }

  body {
    background-color: $background;

    &.dark {
      background-color: rgba(30, 30, 45, 0.8);

      .modal-content {
        background-color: $backgroundDark;
      }

      #logo{
        filter: invert(50%);
      }

    }
  }
}
