body {
  .btn-group {
    top: 50px;
    .sortable, .sort-btn {
      border: solid 1px $violet2;
      border-radius: 5px;
      background-color: white;
      color: $violet2;
      //position: absolute;
      //right: 20%;
      padding: 10px;
      transition-duration: 0.5s;
      margin-right: 25px;
      //margin-top: 75px;
      //margin-bottom: -50px;
      width: 100px;
      text-align: center;

      &:hover {
        background-color: white;
        transition-duration: 0.5s;
      }
    }

    .sort-btn {
      border: solid 1px $violet2;
      border-radius: 5px;
      background-color: white;
      color: $violet2;
      //position: absolute;
      //right: 20%;
      padding: 10px;
      transition-duration: 0.5s;
      margin-right: 25px;
      //margin-top: 75px;
      //margin-bottom: -50px;
      width: 46px;
      text-align: center;

      &:hover {
        background-color: white;
        transition-duration: 0.5s;
      }
    }

    .asc, .desc {
      border: solid 1px $violet2;
      border-radius: 5px;
      background-color: $violetTable;
      color: $violet2;
      //position: absolute;
      //right: 20%;
      padding: 10px;
      margin-right: 25px;
      transition-duration: 0.5s;
      width: 100px;
      //margin-top: 75px;
      //margin-bottom: -50px;
      text-align: center;
    }
  }

  .role-btn {
    margin-top: -4px !important;
  }

  #helpers-btn {
    margin-left: 25px;
    color: #9e9da3;
  }

  .btn {
    border: solid 1px $violet2;
    border-radius: 5px;
    background-color: white;
    color: $violet2;
    //position: absolute;
    //right: 20%;
    padding: 10px;
    transition-duration: 0.5s;

    &:hover {
      background-color: $violetTable;
      transition-duration: 0.5s;
    }
  }

  #corpus {
    #edit {
      position: absolute;
      right: 15%;
      margin-top: -50px;
    }

    #new {
      border: solid 1px $violet2;
      border-radius: 5px;
      background-color: white;
      color: $violet2;
      position: absolute;
      right: 20%;
      padding: 10px;
      transition-duration: 0.5s;

      &:hover {
        background-color: $violetTable;
        transition-duration: 0.5s;
      }
    }

    .cancel-btn {
      margin-top: 43px !important;
    }

    .btn {
      border: solid 1px $violet2;
      border-radius: 5px;
      background-color: white;
      color: $violet2;
      margin-right: 10px;
      //display: flex;
      //flex-direction: row;
      //right: 20%;
      padding: 10px;
      margin-top: 20px;
      transition-duration: 0.5s;

      &:hover {
        background-color: $violetTable;
        transition-duration: 0.5s;
      }
    }

    #btn-return {
      display: flex;
      flex-direction: row;
    }
  }

  &.dark {


    #corpus {

      .sortable, .sort-btn {
        background-color: $violetTable;

        &:hover {
          background-color: #7a62d0;
          color: white;
        }
      }

      .asc, .desc {
        background-color: #7a62d0;
        color: white;
      }

      #new {
        background-color: $violetTable;

        &:hover {
          background-color: #7a62d0;
          color: white;
        }
      }

      .btn {
        background-color: $violetTable;

        &:hover {
          background-color: #7a62d0;
          color: white;
        }
      }
    }

  }
}