body{
  #corpus {
    width: 100%;
    background-color: white;
    padding: 50px 100px 50px 100px;
    border-radius: 5px;
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 5%;
    border: solid 2px $border;
    color: $a;

    a {
      color: $violet2;
      text-decoration: none;
    }

    input {
      border-radius: 10px;
      background-color: #f8f8f8;

      &:focus {
        box-shadow: none;
        border-bottom: solid 1px $violet2;
      }
    }

    form {
      margin-top: 5%;
    }

    .form-group {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
  &.dark{
    #corpus {
      background-color: rgba(30, 30, 45, 0.6);
      border-color: #aaaaaa;

    }
  }
}